{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <div class="form">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <input type="submit" value="Create">
        </form>
    </div>

{% endblock %}